.tableFilterWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 24px;
}

.tableFilterWrap h3 {
    margin-bottom: 0;
}

.tableFilterWrap .tableFilter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.dataTableWrap.customform {
    margin: 0;
}

.dataTableWrap.customform .searchWrap {
    margin: 0;
    width: 100%;
    max-width: 379px;
}

.dataTableWrap.customform .searchWrap img {
    width: 100%;
}

.responsive-table {
    overflow-x: auto;
}

.responsive-table .table {
    text-align: left;
    margin: 0;
}

.responsive-table .table tr th {
    background: #FFEBEE;
    color: #3B3C3B;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 20px 16px;
    vertical-align: middle;
    border: 0;
}

.responsive-table .table tr th:first-child,
.responsive-table .table tr td:first-child {
    padding-left: 24px;
    padding-right: 4px;
}

.responsive-table .table tr th:nth-child(2),
.responsive-table .table tr td:nth-child(2) {
    text-align: left;
    padding-left: 4px;
}

.responsive-table .table tr th:first-child input,
.responsive-table .table tr td:first-child input{
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
}

.responsive-table .table tr td:first-child input {
    margin-top: 2px;
    margin-bottom: -3px;
}

.responsive-table .table tr td {
    color: #3B3C3B;
    text-align: center;
    font-size: 14px;
    font-family: "Readex Pro";
    font-weight: 400;
    line-height: 20px;
    padding: 20px 16px;
    vertical-align: middle;
    border: 0;
}

.responsive-table .table tr:nth-child(even) td {
    background: #F9F9F9;
}

.status {
    border-radius: 49px;
    padding: 6px 16px;
    display: inline-block;
    min-width: 102px;
    text-align: center;
    font-family: "Readex Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.status.accepted,
.status.open,
.status.complete,
.status.active {
    color: #35B876;
    background: #DCF6EA;
}

.status.rejected,
.status.closed,
.status.inactive {
    color: #E20000;
    background: #FAE4E4;
}

.status.progress,
.status.incomplete,
.status.pending {
    color: #F8931E;
    background: #FFEDD8;
    height: auto;
}

.actionsDropdown .dropdown-toggle {
    padding: 0;
    border: 0;
    outline: unset;
    color: #333366;
    box-shadow: unset !important;
    background: transparent !important;
}

.actionsDropdown .dropdown-toggle:after {
    display: none;
}

.actionsDropdown .dropdown-toggle svg {
    font-size: 22px;
}

.actionsDropdown .dropdown-menu {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(163, 163, 163, 0.20);
    padding: 8px;
    min-width: 197px;
    border: 0;
}

.actionsDropdown .dropdown-menu a,
.actionsDropdown .dropdown-menu button {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #3B3C3B;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; 
    transition: 0.4s all ease;
    border: 0;
    box-shadow: unset !important;
    overflow: unset !important;
    background: transparent !important;
}

.actionsDropdown .dropdown-menu a:hover,
.actionsDropdown .dropdown-menu a:active,
.actionsDropdown .dropdown-menu button:hover,
.actionsDropdown .dropdown-menu button:active  {
    color: #ffffff;
    background: #333366 !important;
}

.actionsDropdown .dropdown-menu a:hover svg,
.actionsDropdown .dropdown-menu a:active svg,
.actionsDropdown .dropdown-menu button:hover svg,
.actionsDropdown .dropdown-menu button:active svg {
    color: #ffffff;
}

.actionsDropdown .dropdown-menu a svg,
.actionsDropdown .dropdown-menu button svg {
    font-size: 20px;
    color: #3B3C3B;
    transition: 0.4s all ease;
}

.tableNav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 26px;
}

.totalEntries {
    display: flex;
    align-items: center;
    gap: 8px;
}

.totalEntries .selectWrap select.form-select {
    width: 60px;
    color:  #3B3C3B;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 0 12px;
    height: 36px;
}

.totalEntries .selectWrap svg {
    font-size: 14px;
    color: #3B3C3B;
}

.totalEntries span {
    color: #333366;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px; 
    display: block;
}

.actionBtns {
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.actionBtns button, 
.actionBtns a {
    padding: 0;
    background: transparent !important;
    border: 0;
    outline: unset !important;
}

.actionBtns button svg, 
.actionBtns a svg {
    font-size: 24px;
    color: inherit;
}

.actionBtns button.actionEditBtn,
.actionBtns a.actionEditBtn {
    color: #333366 !important;
}

.actionBtns button.actionDeleteBtn,
.actionBtns a.actionDeleteBtn {
    color: #3B3C3B !important;
}