.forgotWrap {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F3F4F8;
    padding: 135px 0 100px;
    overflow: hidden;
}

.forgotWrap::before {
    content: "";
    background: url(../../public/images/titik-titik.png) center center no-repeat;
    background-size: contain;
    right: -137px;
    top: -10px;
    width: 257px;
    height: 257px;
    position: absolute;
    opacity: 0.5;
}

.forgotWrap::after {
    content: "";
    background: url(../../public/images/tree-img.png) center center no-repeat;
    background-size: contain;
    left: -51.7px;
    bottom: -99px;
    width: 174.4px;
    height: 303px;
    position: absolute;
    opacity: 0.2;
    transform: rotate(14.82deg);
}

.forgotWrap .logoImg {
    position: absolute;
    top: 5.8%;
    left: 4%;
    max-width: 249px;
}

.forgotWrap .logoImg img {
    width: 100%;
}

.signFormCard .backBtn {
    color: #5B5B5B;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.signFormCard .backBtn svg {
    font-size: 24px;
    margin-right: 20px;
}

.signFormCard .backBtn:hover {
    color: #37156D;
}