.signWrap {
    background: #F3F4F8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    padding: 65px 30px;
}

.signFormCard {
    width: 100%;
    max-width: 509px;
    border-radius: 8px;
    background: #FFF;
    padding: 56px;
    box-shadow: 0px 0px 20px 0px rgba(163, 163, 163, 0.20);
    text-align: center;
    position: relative;
    z-index: 1;
}
 
.signFormCard h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signFormCard p {
    text-align: center;
    color: var(--text, #3B3C3B);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.signFormCard form {
    margin-bottom: 30px;
}

.signFormCard form .form-check-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: -4px 0 20px;
}

.signFormCard form .forgot-link {
    color: #3454CF;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; 
}

.signFormCard span {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: block;
    text-align: center;
}

.signFormCard span a,
.signFormCard span button {
    color: #3454CF;
    
}

.signFormCard form .row {
    margin: 0 -8px;
}

.signFormCard form .row .col-lg-6 {
    padding: 0 8px;
}

/* Forgot Password Start */
.forgotWrap {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F3F4F8;
    padding: 100px 0;
    overflow: hidden;
}

.forgotWrap::before {
    content: "";
    background: url(../../public/images/titik-titik.png) center center no-repeat;
    background-size: contain;
    right: -137px;
    top: -10px;
    width: 257px;
    height: 257px;
    position: absolute;
    opacity: 0.5;
}

.forgotWrap::after {
    content: "";
    background: url(../../public/images/tree-img.png) center center no-repeat;
    background-size: contain;
    left: -148px;
    bottom: -128px;
    width: 514px;
    height: 358px;
    position: absolute;
    opacity: 0.1;
}

.forgotWrap .naklaLogo {
    position: absolute;
    top: 5.8%;
    left: 4%;
    max-width: 176px;
}

.forgotWrap .naklaLogo img {
    width: 100%;
}

.signFormCard .backBtn {
    color: #5B5B5B;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.signFormCard .backBtn svg {
    font-size: 24px;
    margin-right: 20px;
}

.signFormCard .backBtn:hover {
    color: #333366;
}

/* Set New Password Start */
.passwordCondition {

}