.passwordCondition {
    padding-top: 2px;
    margin-bottom: 30px;
}

.passwordCondition li {
    position: relative;
    padding-left: 32px;
    color: #B9B9B9;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; 
    margin-bottom: 12px;
}

.passwordCondition li:last-child {
    margin-bottom: 0;
}

.passwordCondition li::before {
    content: "";
    background: url(../../public/images/charm_circle-tick-blue.svg) center center no-repeat;
    background-size: contain;
    left: 0;
    top: -2px;
    width: 24px;
    height: 24px;
    position: absolute;
}