
.passwordCard {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(163, 163, 163, 0.20);
    padding: 24px;
}

.showpassword {
    display: flex;
    flex-wrap: wrap;
}

.showpassword span {
    color: #6F6C90;
    font-family: "Readex Pro";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding-right: 32px;
}

.showpassword p {
    color:  #3B3C3B;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
}

.showpassword p svg {
    color:  #8C8C8C;
    font-size: 18px;
    margin-left: 16px;
}

.passwordCard .customform .general-btn {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    min-width: 168px;
    margin-left: auto;
    display: block;
}